<!-- Login Form -->
<form #loginForm="ngForm">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <input type="email" name="email" [(ngModel)]="credentials.email" #email="ngModel"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
      duration-500 focus:outline-none rounded bg-transparent
      focus:border-indigo-400" placeholder="Enter Email" required [pattern]="constatns.emailPattern" />
    <p *ngIf="email.dirty && email.errors?.required" class="text-red-400">
      Field is required !!
    </p>
    <p *ngIf="email.dirty && email.errors?.required" class="text-red-400">
      You must enter a valid email !!
    </p>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input type="password" name="password" [(ngModel)]="credentials.password" required 
    #password="ngModel" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
    duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" placeholder="Password" />
    <p *ngIf="password.dirty && password.errors?.required" class="text-red-400">
      Field is required !!
    </p>
  </div>
  <button type="submit" class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
    hover:bg-indigo-500" [disabled]="loginForm.invalid">
    Submit
  </button>
</form>